header, footer, aside, nav, form, iframe, .menu, .hero, .adslot , .alert {
    display: none;
}
#webTable{
    display: none;
}

#printTable{
    display: block;
}
#printTable2{
    display: inline;
}
.btn {
    display: none;
}

img {
    float: left;
    height: 150px;

}


.orderImg{
  margin: 12px;
}
